@import "./variable";

body {
    margin: 0;
    box-sizing: border-box;
}


.background_image{
    background-image: url(./Pics/bookstore.jpeg);
    background-size: cover;
    position: fixed;
    top: 0;
    height:100vh;
    width:100%;
    opacity:0.8;
    z-index: -1;
}

h1 {
    border: 2px solid $secondary-color;
    text-align: center;
    color: $secondary-color;
    background-color: $primary-color;
    opacity:$primary-opacity;
    font-size: 4em;
}


p {
    width:90%;
    position:relative;
    left:5%;
    text-align: center;
    color: $primary-color;
    background-color: $secondary-color;
    opacity: 0.6;
    font-style: italic;
    font-size: 1.5em;


}

.booksContainer {
    display:grid;
    justify-content: center;
    row-gap: 8%;

    .bookDetails {
        display:flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;

    a { 
        border: 2px solid $secondary-color;
        background-color:$primary-color;
        color:$secondary-color;
        opacity: $primary-opacity;
        font-size: $primary-font-size;
        text-decoration: none;
        padding:1%;
        width:210px;
        font-style: italic;
        text-align: center;
    }
}

}

footer {
    display: flex;
    justify-content: space-between;
    font-style: italic;
    position: fixed;
    bottom: 0;
    right: 0;
    width:20%;

    a {
        color:$primary-color;
        font-size: $primary-font-size;
        text-decoration: none;
    }
}
